
.row__posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}
.row__posters::-webkit-scrollbar{
    display: none;
}
.row__poster{
    object-fit: contain;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms   
}
.row__poster:hover{
    transform: scale(1.08)
}
.row__posterLarge{
min-height: 60vh;
}
.row__posterLarge:hover{
    transform: scale(1.09)
}
.row{
    margin-left: 20px;
    color: black;
}
/* .title{
    display: flex;
    flex-direction: column;
} */

@media(max-width: 800px){
    .row {
        margin: -7em 0;
    }
}

@media(max-width: 570px){
    .row{
        margin-top: -10em;
    }

    .title-projects{
        margin-bottom: 2em;
    }
}

@media(max-width: 800px){
@media(min-height: 1000px){
    .row{
       margin-top: -10em;
   }
}
}





