@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", "Karla", sans-serif;
}

.App-about,
.App-contact,
.App-home {
  padding-top: 5em;
}

.about-summary {
  width: 50vw;
}

.about-mision {
  width: 55%;
}

.about-vision {
  width: 45%;
}

.prev-slide {
  border-radius: 50%;
  position: absolute;
  padding: 0.4em 0.7em;
  font-size: 1.5rem;
  background-color: #35c94f;
  opacity: 0.6;
  border: none;
  top: 50%;
  left: 5%;
}

.next-slide {
  top: 50%;
  right: 5%;
  padding: 0.4em 0.7em;
  border-radius: 50%;
  position: absolute;
  background-color: #35c94f;
  font-size: 1.5rem;
  opacity: 0.6;
  border: none;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  padding: 2em 1em;
}

nav ul li {
  font-size: 0.9rem;
  transition: transform 0.6s ease-in-out;
}

nav ul li:hover {
  transform: scale(1.1);
}

footer i {
  transition: 0.2s;
}

footer i:hover {
  transform: scale(1.3);
}

.Photo {
  margin: 0;
}

.App-contact h3 {
  font-size: 0.8rem;
  margin: 1em 0;
  display: flex;
  align-items: center;
  transition: 0.3s ease-in-out;
  font-weight: 500;
}

.App-contact h3:hover {
  border: 2px solid #d7dbdd;
  border-radius: 5px;
}

.App-contact h3 i {
  margin: 0 0.5em;
  font-size: 1.1rem;
}

.App-contact h3 .phone {
  color: #0a3112;
}

.Form {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

input,
textarea {
  transition: 0.5s;
  font-size: 0.9rem;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
  outline: none;
  transform: scale(1.0055);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

button {
  transition: 0.5s;
}

button:hover,
button:focus {
  transform: scale(1.1);
  border: none;
}

.send {
  display: inline-block;
  padding: 0.5em 3em;
}

.prev,
.next {
  height: 50px;
  width: 50px;
  font-size: 2rem;
  transition: 0.5s;
}

.prev:hover,
.next:hover {
  transform: scale(1.3);
  outline: none;
}

.prev:focus,
.next:focus {
  outline: none;
}

.Photo,
.Image {
  transition: 0.8s;
}

.image-icon,
.technologies {
  justify-content: flex-end;
}

.technologies {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: -1em;
}

.about-description {
  height: 40vw;
}

.carousel-shadow {
  border-radius: 5%;
  box-shadow: #fff 0px 10px 30px -10px;
}

.title-joker-description {
  font-weight: 500;
}

.check {
  font-size: 0.9rem;
  font-weight: 500;
}

.icon-skills {
  transition: 0.2s;
}
.icon-skills:hover {
  transform: scale(1.15);
}

.App-info {
  background-image: url("https://images.pexels.com/photos/3255761/pexels-photo-3255761.jpeg?cs=srgb&dl=pexels-scott-webb-3255761.jpg&fm=jpg");
}

.point1 {
  background-image: url("https://images.pexels.com/photos/3255761/pexels-photo-3255761.jpeg?cs=srgb&dl=pexels-scott-webb-3255761.jpg&fm=jpg");
}

.topics-description {
  -webkit-text-stroke: 0.3px black;
}

.joker {
  text-shadow: 3px 3px 10px white;
}

/* animations */

span + span {
  margin-left: 0.8rem;
}

/* Title Projects animation */

.title-projects {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #35c94f 0%,
    darkgreen 29%,
    #35d200 75%,
    darkgreen 100%
  );
  letter-spacing: 2px;
  -webkit-text-stroke: 0.3px black;
  background-size: auto auto;
  background-clip: border-box;
  background-size: 150% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  animation-direction: reverse;
  display: inline-block;
  font-size: 80px;
}

@keyframes textclip {
  to {
    background-position: 300% center;
  }
}

/* zoom in animation */

.text-goals {
  font-size: 4rem;
  line-height: 4rem;
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  background: url(../public/general-images/web-development-collage.png);
  background-size: 20%;
  background-position: 50% 50%;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0.08);
  animation: zoomout 10s ease 500ms forwards;
  animation-iteration-count: infinite;
}

@keyframes zoomout {
  from {
    background-size: 40%;
  }
  to {
    background-size: 10%;
  }
}

/* wave animation */

.content {
  position: relative;
}

.content h2 {
  color: #fff;
  font-size: 3em;
  position: absolute;
  transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px darkgreen;
}

.content h2:nth-child(2) {
  color: green;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.round-bg {
  --stripe: #cfd8dc;
  --bg: #e1e1e1;

  background: linear-gradient(135deg, var(--bg) 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, var(--bg) 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, var(--bg) 25%, transparent 25%),
    linear-gradient(45deg, var(--bg) 25%, transparent 25%);
  background-size: 100px 100px;
  background-color: var(--stripe);
}

.point {
  background-color: #537895;
  background-image: linear-gradient(#537895 0%, #09203f 74%);
}
.point3 {
  background-color: #d9e4f5;
  background-image: linear-gradient(315deg, #d9e4f5 0%, #e3e8f5 74%);
}

/* Arror effect */

.arrow {
  clip-path: polygon(
    0% 20%,
    60% 20%,
    60% 0%,
    100% 50%,
    60% 100%,
    60% 80%,
    0% 80%
  );
  animation: clips 4s ease infinite;
}

@keyframes clips {
  50% {
    clip-path: polygon(
      30% 0%,
      70% 0%,
      100% 30%,
      100% 70%,
      70% 100%,
      30% 100%,
      0% 70%,
      0% 30%
    );
  }
}

/* media queries order */
@media (max-width: 1500px) {
  .about-introduce {
    margin-top: -3em;
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media (max-width: 1083px) {
  .text-goals {
    font-size: 2.3rem;
  }

  .services-details {
    border: 1px solid black;
    height: 40vh;
    padding: 1em 0.5em;
  }

  .service-description {
    font-size: 0.7rem;
  }

  .service-small-image {
    height: 60%;
    width: 50%;
  }
}

@media (max-width: 1026px) {
  .about-company-plan {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mision {
    border-right: none;
    border-bottom: 2px solid black;
    padding-bottom: 2.5em;
  }

  .about-mision {
    width: 80%;
  }
  
  .about-vision{
    padding: 2.5em;
    margin-bottom: 2em;
    margin-top: -2em;
    width: 80%;
  }
}

@media (max-width: 1023px) {
  .service-container-cards {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1em;
    margin: 0 -3em;
  }

  .service-card {
    grid-column: 1;
  }

  .service-card-description {
    display: flex;
    flex-direction: column;
  }

  .service-card-description .text-title {
    font-size: 0.75rem;
  }

  .service-card-description .text-description {
    font-size: 0.7rem;
  }

  .service-image {
    height: 40vh;
    width: 100%;
    border-radius: 10px;
    margin: 0 auto;
  }

 
}

@media (max-width: 1020px) {
  .text {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1rem;
  }

  .about-description {
    width: 70%;
    padding: 1em 1em;
  }

  .about-joker {
    width: 35%;
  }

  .about-text {
    margin: 20px auto;
    font-size: 0.8rem;
  }

  .mision, .vision-text {
    font-size: 0.8rem;
  }

  .about-summary {
    margin: 2em auto;
    padding: 2em 1em;
    width: 60%;
  }

  .check,
  .email-joker {
    font-size: 0.8rem;
  }

  .content {
    font-size: 0.7rem;
  }

  .about-individual {
    margin-top: -6em;
    margin-left: 5em;
    margin-right: 5em;
  }

  .joker,
  .text-projects {
    font-size: 0.8rem;
  }

  .title-projects {
    font-size: 1.7rem;
  }
}


@media (max-width: 850px) {
  .service-container-cards {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 1em;
  }

  .service-card {
    grid-column: 1;
  }

@media (max-width: 840px) {
  .App-info {
    flex-direction: column;
  }

  .card {
    width: 100%;
    margin-top: -3em;
    margin-bottom: 3em;
  }

  .Form {
    width: 100%;
  }

  .about-summary {
    margin: 5em auto;
  }

  .about-especific {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -2em;
  }

  .Photos {
    width: 80vw;
  }

  .about-description {
    height: 60%;
    margin: 2em;
  }

  .icon-skills {
    width: 20px;
    height: 30px;
  }

  .text,
  .title {
    text-align: center;
  }

  .check,
  .email-joker {
    margin: 0.5em auto;
    text-align: center;
  }

  .joker {
    width: 80%;
  }

  .topics {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .carousel-projects {
    margin-top: 2.5em;
  }

  .arrow {
    transform: rotate(90deg);
    margin-top: -5em;
  }

  .carousel {
    width: 80%;
  }

  @keyframes clips {
    50% {
      clip-path: polygon(
        30% 0%,
        70% 0%,
        100% 30%,
        100% 70%,
        70% 100%,
        30% 100%,
        0% 70%,
        0% 30%
      );
    }
  }

  .text-goals {
    transform: rotate(-90deg);
    margin: 2em -1em;
    line-height: 1em;
  }

  .about-individual {
    margin-left: 1em;
    margin-right: 1em;
  }

}

@media (max-width: 837px) {
  .carousel-shadow {
    width: 70vw;
    height: 40vw;
  }

  .image-carousel {
    height: 330px;
  }

  .text-topics {
    font-size: 0.95rem;
    padding: 0 1em;
  }

  .carousel-caption {
    display: inline-block;
    padding: 0.5em;
    margin-bottom: 1em;
  }
}

@media (max-width: 820px) {
  .carousel-caption {
    margin-bottom: 3em;
  }

  .about-introduce {
    margin-top: -8em;
  }

}

@media (max-width: 801px) {
  .cart-image {
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }

  .cart-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .cart-text-price {
    font-size: 1.2rem;
  }

  .cart-erase {
    font-size: 1.5rem;
  }

  .cart-erase-contain {
    border: none;
  }

  .cart-service {
    margin: 0;
  }

  .cart-union {
    display: flex;
    flex-direction: column;
  }

  .about-introduce {
    margin-top: 1em;
  }
}

@media (max-width: 800px) {
  .App-about {
    padding: 0;
  }

  .Photo {
    margin: 2em 0;
    height: 50%;
  }

  .Photos {
    padding: 0 2em;
  }
  
  img {
    width: 70%;
  }
  .About-general {
    padding: 2em 3em;
  }

  .title-joker-description {
    text-align: center;
  }

  .contact-us {
    margin: 2em 0;
  }

  .icon-skills {
    width: 20px;
    height: 30px;
  }

  .contact-btn {
    margin-top: -0.1em;
  }

  .text-container {
    margin: -1em 0;
  }

  .about-summary {
    margin-top: 4em;
  }

  .about-company-container {
    margin-top: 4em;
  }

}

@media (max-width: 780px) {
  .carousel-caption {
    margin-bottom: 4em;
  }

  .project-description {
    margin-left: -30vw;
  }

}

@media (max-width: 740px) {
  .carousel-caption {
    margin-bottom: 5em;
  }

  .text-topics {
    font-size: 0.8rem;
  }
}

@media (max-width: 700px) {
  .projects {
    display: flex;
    flex-direction: column;
    padding: 0 20%;
    margin-top: -2em;
  }

  .content {
    font-size: 0.7rem;
    margin-top: 4em;
  }

  .joker {
    font-size: 0.7rem;
    overflow: scroll;
    height: 80px;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .project-description {
    margin-left: 2vw;
  }

  .about-introduce {
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media (max-width: 690px) {
  .carousel-caption {
    margin-bottom: 6em;
  }

  .arrow {
    transform: rotate(90deg);
    padding: 2em;
  }
}

@media (max-width: 640px) {
  .header {
    display: flex;
    flex-direction: column;
  }

  .toggle {
    display: block;
  }

  .text-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  li {
    display: inline-block;
    margin: 0.5em auto;
  }

  .project-description {
    margin-left:0vw;
  }

  .about-summary {
    margin-top: 2.5em;
  }

  .about-company-container {
    margin-top: 4em;
  }
}

@media (max-width: 600px) {
  .carousel-caption {
    margin-bottom: 7em;
  }

  .services-info {
    width: 80vw;
    margin: 0 auto;
  }

  .services-text {
    font-size: 0.9rem;
  }

  .text-goals {
    font-size: 1.5rem;
  }
}

@media (max-width: 580px) {
  .card,
  .Form {
    width: 80vw;
  }

  .Form {
    padding: 1.5em;
  }

  .devices .cellphone {
    width: 30vw;
    font-size: 0.7rem;
  }

  .devices .email-contact {
    font-size: 0.7rem;
  }

  .carousel-caption {
    margin-bottom: 8em;
  }
}


@media (max-width: 570px) {
  .cart-text-price {
    display: none;
  }
}


@media (max-width: 540px) {
  .carousel-caption {
    margin-bottom: 9em;
  }

  .text-goals {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .carousel-caption {
    margin-bottom: 10em;
  }

  .text-topics {
    font-size: 0.6rem;
  }

  .devices .cellphone {
    width: 50vw;
  }

  .service-container-cards {
    display: grid;
    grid-template-columns: auto;
    margin: 1em 1em;
  }

  .service-card {
    grid-column: 1;
    margin: 1em 0;
  }

  .joker-photo {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 450px) {
  .carousel-caption {
    margin-bottom: 12.5em;
  }

  .text-topics {
    font-size: 0.5rem;
  }

  .service-image {
    height: 35vh;
  }

  .text-goals {
    font-size: 1rem;
  }
}

  @media (max-width: 400px) {
    .projects {
      display: flex;
      flex-direction: column;
      padding: 0 5%;
      margin-top: -2em;
      margin-bottom: -5em;
    }

    .content {
      font-size: 0.4rem;
      margin-top: 5.5em;
    }

    .joker {
      font-size: 0.5rem;
      height: 80px;
      margin: 0;
      margin-bottom: 1em;
      overflow: scroll;
      line-height: 1.2em;
    }

    ::-webkit-scrollbar {
      display: none;
    }

    .button {
      font-size: 0.4rem;
      margin-top: -0.5em;
    }

    .text-goals {
      font-size: 0.9rem;
      margin-left: 0.1em;
      margin-right: 0.1em;
    }

    .contact-info {
      display: flex;
      margin: 0 1.5em;
    }

    .contact-message {
      font-size: 0.89rem;
    }

    .service-container-cards {
      display: grid;
      grid-template-columns: auto;
    }

    .service-card {
      grid-column: 1;
    }

    .project-description {
      font-size: 0.8rem;
    }

    .project-main {
      padding-bottom: 5em;
    }

  }
}

/* media queries min-heigh */

@media (min-width: 320px){
  .about-summary {
    width: 100vw;
  }

 
}

@media (min-height: 400px) {
  .service-card {
    margin: 1em 0;
  }

  .service-image {
    height: 60vh;
  }
}

@media (min-height: 600px) {
  .service-card {
    margin: 1em 0;
  }

  .service-image {
    height: 35vh;
  }
}

@media (min-width: 640px) {
  nav {
    display: "block";
  }

  .App-about {
    display: flex;
    justify-content: center;
  }
}

@media (min-height: 750px) {
  .cart-main{
    height: 100vh;
  }

}

@media (min-width: 780px) {
  .project-description {
    width: 80vw;
    margin-left:-22vw;
 
  }
}


@media (min-height: 1000px) {
  .service-card {
    margin: 1.5em 0;
  }

  .service-image {
    height: 30vh;
  }

  .App-contact {
    padding: 30vh 0;
   }

   @media(max-width: 2000px){
     .prev-slide, .next-slide {
       top: 40%;
     }
    }


 @media (min-width: 835px) {
  .App-about {
    height: 100vh;
 }

  .about-summary {
    margin-top:-4em;
  }

  .about-individual {
    margin-top: -2em;
    margin-right: 2em;
  }

  .point3 {
    margin-top: 7em;
  }

  .contact-us {
    margin-top: -7em;
  }

  .Form {
    height: 50vh;
    padding-top: 10vh;
  }
 }


@media (min-width: 1024px) {
  .service-container-cards {
    display: grid;
    grid-gap: 2em;
  }

  .service-card {
    grid-column: 1;
  }

  .service-image {
    height: 40vh;
    width: 100%;
  }

  .about-individual {
    margin-top: -4em;
  }

  .about-summary {
    margin-top: -10em;
  }
}


@media (min-width: 1300px) {
  .about-individual {
    margin-top: -4em;
  }

  .about-summary {
    margin-top: -2em;
  }
}

@media(min-width: 1700px){
  .App-about {
    padding-top: 5vh;
  }
  
  .about-individual{
    margin-top: -10em;
  }
 
}

@media (min-width: 1800px) {
  .about-summary {
    margin-top: -3em;
  }
}
}