@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", "Karla", sans-serif;
}

.App-contact{
  padding-top: 10em;
}

.App-home {
  padding-top: 5em;
}

.content-service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.content-title {
  font-size: 0.9rem;
  margin-bottom: 10px;
  font-weight: 800;
}

nav ul li {
  font-size: 0.9rem;
  padding: 0.1em 1em;
  border-radius: 0.5em;
}

::-webkit-scrollbar {
  display:none
}


.about-summary {
  width: 80vw;
}

.about-mision {
  width: 50%;
}

.about-vision {
  width: 50%;
}

.subcategories {
  display: flex;
}

.project-image {
  height: 220px;
}

.team-title {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.1em 3em;
}

nav ul li {
  font-size: 0.9rem;
  transition: transform 0.6s ease-in-out;
}

nav ul li:hover {
  transform: scale(1.1);
  background-color: rgba(0, 0, 0, 0.5);
  color:#67B6B3;
}

.button {
  transition: transform 0.6s;
  background-color: rgba(0, 0, 0, 0.5);
}

.button:hover{
  transform: scale(1.1);
  background-color: rgba(0, 0, 0, 0.5);
  color: #67B6B3;
}

footer i {
  transition: 0.2s;
}

footer i:hover {
  transform: scale(1.3);
}

.Photo {
  margin: 0;
}

.App-contact h3 {
  font-size: 0.8rem;
  margin: 1em 0;
  display: flex;
  align-items: center;
  transition: transform 0.4s ease-in-out;
  font-weight: 500;
}

.App-contact h3:hover {
  transform: scale(1.05);
}

.App-contact h3 i {
  margin: 0 0.5em;
  font-size: 1.1rem;
}

.App-contact h3 .phone {
  color: #0a3112;
}

.Form {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 54px 55px,
    rgba(0, 0, 0, 0.05) 0px -12px 30px, rgba(0, 0, 0, 0.05) 0px 4px 6px,
    rgba(0, 0, 0, 0.05) 0px 12px 13px, rgba(0, 0, 0, 0.05) 0px -3px 5px;
}

input,
textarea {
  transition: 0.5s;
  font-size: 0.9rem;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
  outline: none;
  transform: scale(1.0055);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

button {
  transition: 0.5s;
}

button:hover,
button:focus {
  transform: scale(1.1);
  border: none;
}

.send {
  display: inline-block;
  padding: 0.5em 3em;
}

.prev,
.next {
  height: 50px;
  width: 50px;
  font-size: 2rem;
  transition: 0.5s;
}

.prev:hover,
.next:hover {
  transform: scale(1.3);
  outline: none;
}

.prev:focus,
.next:focus {
  outline: none;
}

.Photo,
.Image {
  transition: 0.8s;
}

.image-icon,
.technologies {
  justify-content: flex-end;
}

.technologies {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: -1em;
}

.about-description {
  height: 40vw;
}

.carousel-shadow {
  border-radius: 5%;
  box-shadow: #fff 0px 10px 30px -10px;
}

.title-joker-description {
  font-weight: 500;
}

.check {
  font-size: 0.9rem;
  font-weight: 500;
}

.icon-skills {
  transition: 0.2s;
}
.icon-skills:hover {
  transform: scale(1.15);
}

.topics-description {
  -webkit-text-stroke: 0.3px black;
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

.title-project {
  text-transform: uppercase;
  display: inline-block;
  font-size: 0.7rem;
  font-weight: 700;
  padding: 0.5em 0.5em;
  background-color: #35d200;
  border: none;
  border-radius: 15px;
  opacity: 0.7;
}

/* animations */

span + span {
  margin-left: 0.8rem;
}

/* Title Projects animation */

.title-projects {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    lightgray 15%,
    darkgray 32%,
    lightgray 85%,
    darkgray 100%
  );
  letter-spacing: 2px;
  -webkit-text-stroke: 0.3px black;
  background-size: auto auto;
  background-clip: border-box;
  background-size: 150% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  animation-direction: reverse;
  display: inline-block;
  font-size: 2rem;
  text-align: center;
}

.title-projects2 {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #35c94f 0%,
    darkgreen 29%,
    #35d200 75%,
    darkgreen 100%
  );
  letter-spacing: 2px;
  -webkit-text-stroke: 0.3px black;
  background-size: auto auto;
  background-clip: border-box;
  background-size: 150% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  animation-direction: reverse;
  display: inline-block;
  font-size: 30px;
}

.title-projects3 {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #35c94f 0%,
    darkgreen 29%,
    #35d200 75%,
    darkgreen 100%
  );
  -webkit-text-stroke: 0.3px black;
  background-size: auto auto;
  background-clip: border-box;
  background-size: 150% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  animation-direction: reverse;
  display: inline-block;
  font-size: 19px;
}

@keyframes textclip {
  to {
    background-position: 300% center;
  }
}

/* wave animation */

.content {
  position: relative;
}

.content h2 {
  color: #fff;
  font-size: 2.5em;
  position: absolute;
  transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px darkgreen;
}

.content h2:nth-child(2) {
  color: white;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.round-bg {
  --stripe: #cfd8dc;
  --bg: #e1e1e1;

  background: linear-gradient(135deg, var(--bg) 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, var(--bg) 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, var(--bg) 25%, transparent 25%),
    linear-gradient(45deg, var(--bg) 25%, transparent 25%);
  background-size: 100px 100px;
  background-color: var(--stripe);
}

.point {
  background-color: #537895;
  background-image: linear-gradient(#537895 0%, #09203f 74%);
}

/* media queries order */



@media(max-width: 1520px){
  .form-names{
    display: flex;
    flex-direction: column;
  }

  .form-names-text{
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    justify-content: left;
  }

  .name-form-input{
    width: 80%;
  }
}

@media (max-width: 1500px) {
  .about-introduce {
    margin-top: -3em;
    padding-left: 2em;
    padding-right: 2em;
  }

  .contact-info{
    display: flex;
    flex-direction: column;
  }
}

@media(max-width: 1295px){
  .joker-about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6em;
    padding-bottom: 6em;
  }

  .home-about {
    height: 100vh;
  }
}

@media(max-width: 1150px) {
  .about-individual{
    margin-top: 6em;
    margin-bottom: 4em;
  }
}

@media (max-width: 1083px) {

  .service-description {
    font-size: 0.7rem;
  }

  .service-small-image {
    height: 60%;
    width: 50%;
  }
}


@media (max-width: 1026px) {
  .about-company-plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .mision {
    border-right: none;
    border-bottom: 2px solid black;
    padding-bottom: 2.5em;
  }

  .about-mision {
    width: 50%;
  }
  
  .about-vision{
    padding: 2.5em;
    margin-bottom: 2em;
    margin-top: -2em;
    width: 80%;
  }
}

@media(max-width: 1024px){
  .web,
  .ia {
    width: 80%;
    border-bottom: 4px solid #003016;
    margin-bottom: 2em;
  }

  .topics-home{
    display:flex;
    flex-direction: column;
  }

  .topics-cards{
    width: 40vw;
    height: 40vw;
  }

  .nav-footer{
    display: flex;
    flex-direction: column;
  }

  .joker-large{
    display: none;
  }

  .joker-little {
    display: block;
  }

  .App-info-sub{
    display: flex;
    flex-direction: column;
  }

  .contact-message{
    margin: 1em 0;
    text-align: center;
  }

  .email-contact{
    width: 70vw;
  }

  .Form{
    border-radius: 0 0 30px 30px; 
  }

  .information{
    border-radius: 30px 30px 0 0;
  }
}

@media (max-width: 1023px) {

  .service-card-description {
    display: flex;
    flex-direction: column;
  }

  .service-card-description .text-title {
    font-size: 0.75rem;
  }

  .service-card-description .text-description {
    font-size: 0.7rem;
  }
 
}

@media (max-width: 1020px) {
  .text {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1rem;
  }

  .about-description {
    width: 70%;
    padding: 1em 1em;
  }

  .about-joker {
    width: 50%;
  }

  .about-text {
    margin: 20px auto;
    font-size: 0.8rem;
  }

  .mision, .vision-text {
    font-size: 0.8rem;
  }

  .about-summary {
    margin: 0 auto;
    padding: 2em 1em;
  }

  .about-mision {
    width: 80%;
  }

  .check,
  .email-joker {
    font-size: 0.8rem;
  }

  .content {
    font-size: 0.9rem;
  }

  .joker,
  .text-projects {
    font-size: 0.8rem;
  }

  .title-projects {
    font-size: 1.7rem;
  }
}

@media(max-width: 980px){
  .header {
    display: flex;
    flex-direction: column;
  }

  .toggle {
    display: block;
  }

  nav{
    display: none;
  }

  .ul-footer{
    margin-bottom: -2em;
  }

  .text-header {
    width:100%;
    display: flex;
    justify-content: space-around;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  li {
    display: inline-block;
    margin: 0.5em auto;
  }
}

@media (max-width: 840px) {
  .App-info {
    flex-direction: column;
  }

  .card {
    width: 100%;
    margin-top: -3em;
    margin-bottom: 3em;
  }

  .Form {
    width: 100%;
  }

  .about-summary {
    margin: 0 auto;
  }

  .about-especific {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -2em;
  }

  .Photos {
    width: 80vw;
  }

  .about-description {
    height: 60%;
  }

  .icon-skills {
    width: 20px;
    height: 30px;
  }

  .text,
  .title {
    text-align: center;
  }

  .check,
  .email-joker {
    margin: 0.5em auto;
    text-align: center;
  }

  .topics {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .carousel-projects {
    margin-top: 2.5em;
  }

  .carousel {
    width: 80%;
  }
  }

@media (max-width: 837px) {
  .carousel-shadow {
    width: 70vw;
    height: 40vw;
  }

  .image-carousel {
    height: 330px;
  }

  .text-topics {
    font-size: 0.95rem;
    padding: 0 1em;
  }

  .carousel-caption {
    display: inline-block;
    padding: 0.5em;
    margin-bottom: 1em;
  }

  .contact-us{
    margin-top: -5em;
  }
}

@media (max-width: 820px) {
  .carousel-caption {
    margin-bottom: 3em;
  }

  .about-introduce {
    margin-top: -8em;
  }

}

@media (max-width: 801px) {
  .cart-image {
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }

  .cart-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .cart-text-price {
    font-size: 1.2rem;
  }

  .cart-erase {
    font-size: 1.5rem;
  }

  .cart-erase-contain {
    border: none;
  }

  .cart-service {
    margin: 0;
  }

  .cart-union {
    display: flex;
    flex-direction: column;
  }

  .about-introduce {
    margin-top: 1em;
  }
}

@media (max-width: 800px) {
  .App-about {
    padding: 0;
  }

  .Photo {
    margin: 2em 0;
    height: 50%;
  }

  .Photos {
    padding: 0 2em;
  }
  
  img {
    width: 70%;
  }
  .About-general {
    padding: 2em 3em;
  }

  .title-joker-description {
    text-align: center;
  }

  .icon-skills {
    width: 20px;
    height: 30px;
  }

  .contact-btn {
    margin-top: -0.1em;
  }

  .about-company-container {
    margin-top: 4em;
  }

  .about-introduce{
    margin-top: -5em;
  }

}

@media (max-width: 780px) {
  .carousel-caption {
    margin-bottom: 4em;
  }

  .project-description {
    margin-left: -30vw;
  }

}

@media(max-width: 768px){
  .language{
    padding: 0.2em 0.5em;
  }
}

@media (max-width: 740px) {
  .carousel-caption {
    margin-bottom: 5em;
  }

  .text-topics {
    font-size: 0.8rem;
  }
}

@media (max-width: 700px) {
  .projects {
    display: flex;
    flex-direction: column;
    padding: 0 20%;
    margin-top: -2em;
  }

  .content {
    font-size: 0.9rem;
    margin-top: 2em;
  }

  .joker {
    font-size: 0.7rem;
  }

  .project-description {
    margin-left: 2vw;
  }

  .about-introduce {
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media (max-width: 690px) {
  .carousel-caption {
    margin-bottom: 6em;
  }
}

@media(max-width: 645px){
  .name-container {
    margin-left: 3em;
  }
}

@media (max-width: 640px) {
  .project-description {
    margin-left:0vw;
  }

  .about-summary {
    margin-top: 2.5em;
  }

  .about-company-container {
    margin-top: 4em;
  }

  .title-project {
    top: 15%;
    left: 20%;
  }

  .joker-card-photo{
    position: absolute;
    width: 17vh;
    height: 17vh;
    margin: -29vh 12vh;
  }
}

@media (max-width: 600px) {
  .carousel-caption {
    margin-bottom: 7em;
  }

  .services-info {
    width: 80vw;
    margin: 0 auto;
  }

  .services-text {
    font-size: 0.9rem;
  }

  .joker-card-photo{
    position: absolute;
    width: 30vw;
    height: 30vw;
    margin: -52vw 22vw;
  }

  .prev-joker,
  .next-joker{
    font-size: 2rem;
  }
}

@media (max-width: 580px) {
  .card,
  .Form {
    width: 80vw;
  }

  .devices .cellphone {
    width: 40vw;
    font-size: 0.7rem;
  }

  .devices .email-contact {
    font-size: 0.7rem;
  }

  .carousel-caption {
    margin-bottom: 8em;
  }

  .flex-footer{
    display: flex;
    flex-direction: column;
  }

  footer{
    padding: 2em;
  }

  .footer-icons{
    margin-top: 2em;
  }

  .nav-footer nav{
    margin-top: 1em;
  }

  .footer-image{
    margin-left: -0.4rem;
  }
}


@media (max-width: 570px) {
  .cart-text-price {
    display: none;
  }
}


@media (max-width: 540px) {
  .carousel-caption {
    margin-bottom: 9em;
  }
}

@media (max-width: 500px) {
  .carousel-caption {
    margin-bottom: 10em;
  }

  .text-topics {
    font-size: 0.6rem;
  }

  .devices .cellphone {
    width: 50vw;
  }

  .joker-photo {
    width: 120px;
    height: 120px;
  }

  .about-page {
    margin: 0 -4em;
  }

  .about-description {
    width: 80vw;
  }

  .solutions{
    display: flex;
    flex-direction: column;
  }

  .joker-card-photo{
    position: absolute;
    width: 30vw;
    height: 30vw;
    margin: -52vw 18vw;
  }
}

@media (max-width: 450px) {
  .carousel-caption {
    margin-bottom: 12.5em;
  }

  .text-topics {
    font-size: 0.5rem;
  }

  .service-image {
    height: 35vh;
  }
}

  @media (max-width: 400px) {
    .projects {
      display: flex;
      flex-direction: column;
      padding: 0 5%;
      margin-top: -2em;
      margin-bottom: -5em;
    }

    .content {
      font-size: 0.6rem;
      margin-top: 2em;
    }

    .joker {
      font-size: 0.7rem;
      height: 20vh;
      margin: 0;
      margin-bottom: 3em;
      line-height: 1.2em;
    }

    .contact-info {
      display: flex;
      margin: 0 1.5em;
    }

    .contact-message {
      font-size: 0.89rem;
    }


    .project-description {
      font-size: 0.8rem;
    }

    .project-main {
      padding-bottom: 5em;
    }

    .joker-card-photo{
      position: absolute;
      margin: -48vw 16vw;
    }

  }


/* media queries min-heigh */

@media (min-width: 320px){
  .about-summary {
    width: 100vw;
  }

  .service-card-turn {
    width: 15rem;
    height: 18rem;
  }
}

@media (min-height: 400px) {

  .service-image {
    height: 60vh;
  }
}

@media (min-height: 600px) {

  .service-image {
    height: 35vh;
  }
}

@media (min-width: 640px) {
  nav {
    display: "block";
  }

  .App-about {
    display: flex;
    justify-content: center;
  }
}

@media (min-height: 750px) {
  .cart-main{
    height: 100vh;
  }

}

@media (min-width: 780px) {
  .project-description {
    width: 80vw;
    margin-left:-22vw;
 
  }
}

@media(min-width: 981px){
  .show{
    display:block;
  }

  nav{
    margin-right: -4em;
  }

  nav ul li{
    margin-right: 4em;
  }
}

@media (min-height: 1000px) {

  .service-image {
    height: 30vh;
  }

  .App-contact {
    height: 100vh;
   }

  }


 @media (min-width: 835px) {


  .contact-us {
    margin-top: -7em;
  }
 }

@media (min-width: 1024px) {

  .service-image {
    height: 40vh;
    width: 100%;
  }

  .web-frameworks{
    padding-left: 4em;
  }

  .joker-large{
    display: block;
  }

  .joker-little {
    display: none;
  }
}


@media (min-width: 1300px) {

   .about-individual{
    margin-top: -5em;
  }
}

@media(min-width: 1450px){
  .about-especific{
    padding-bottom: -10em;
  }
}

@media(min-width: 1600px) {
  .about-company-plan {
    width: 70vw;
    margin: 0 auto;
  }
}

@media(min-width: 1700px){
  .App-about {
    padding-top: 5vh;
  }
  
  .about-individual {
    margin-top: -8rem;
  }
 
}



@media(min-height: 1024px) {

    .App-contact {
      height: 180vh;
    }

    .card {
      margin-top: 2em;
    }
}

@media(height: 1368px) {
  @media(width: 912px){
    
    .App-contact {
      padding-top: 10em;
    }
  }
}

@media(width: 768px) {
  @media(height: 1024px){
  .joker-card-photo {
    margin: -60vw 10vw;
  }
}
}

